# Dependencies
node_modules/
/.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.meta.*
*.war
*.suo
*.user
*.ipa
*.dSYM.zip
*.dSYM

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env*.local
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
